<ion-header>
  <ion-toolbar>
    <ion-title>MediChat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div *ngFor="let m of mensajes" [class]="m.rol === 'usuario' ? 'mensaje-usuario' : 'mensaje-bot'">
      <div class="burbuja">
        {{ m.texto }}
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none" class="input-item">
      <ion-button fill="clear" (click)="ejecutarCamara()" slot="start">
        <ion-icon name="camera"></ion-icon>
      </ion-button>

      <ion-input [(ngModel)]="mensajeUsuario" 
                 placeholder="Escribe aquí..." 
                 (keyup.enter)="enviarSoloTexto()">
      </ion-input>

      <ion-button fill="clear" (click)="enviarSoloTexto()" slot="end">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>