/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

.alerta-premium {
    --background: #ffffff !important; // Fuerza el fondo blanco

    .alert-wrapper {
        background: #ffffff !important;
        border-radius: 20px !important;
        box-shadow: 0 15px 35px rgba(46, 74, 112, 0.15) !important;
    }

    .alert-head {
        padding-bottom: 10px;

        .alert-title {
            color: #2e4a70 !important; // $color-azul-oscuro
            font-weight: 800 !important;
            font-size: 1.4rem;
        }

        .alert-sub-title {
            color: #73c7e3 !important; // $color-azul-claro
            font-weight: 600;
        }
    }

    .alert-message {
        color: #444444 !important;
        font-size: 0.95rem !important;
        line-height: 1.4;
    }

    .alert-button-group {
        padding: 10px;

        .alert-button {
            color: #2e4a70 !important;
            font-weight: bold !important;
            text-transform: uppercase;
        }
    }
}